<!DOCTYPE html>
<html lang="en">



<head>
<meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="0">
<title>HIMALAYA HOSTEL</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  height: 1000px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 50px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #f1f1f1;
  height: 1000px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>




<header>
  <h3>Himalaya Hostel</h3>
</header>

<section>
  <nav>
    <ul>
      <li> <koi hai> </li>
    
      </ul>
      
      <ul>
      <li><a href="http://localhost:3000/home">Home</a></li>
      <li><a href="http://localhost:3000/logout">Log Out</a></li>
    </ul>
  </nav>
  
  <article>
  
  <head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>SID</th>
    <th>ROOM_NO</th>
    <th>DESCRIPTION</th>
  </tr>

<% for(let i=0; i < data.length; i++) { %>
   <tr>
     <td><%= data[i].SID %></td>
     <td><%= data[i].Room_No %></td>
	 <td><%= data[i].description %></td>
   </tr>
<% } %>
 
</table>

</body>
</html>


     
   
  </article>
</section>

<footer>
  <p>Punjab Engineering College, Sector 12 Chandigarh</p>
</footer>

</body>
</html>
